:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-black: #000;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #F6658E;
    --bs-secondary: #E32B4D;
    --bs-success: #24B795;
    --bs-info: #5F6DBF;
    --bs-warning: #FFB847;
    --bs-danger: #F64928;
    --bs-light: #f7f8f9;
    --bs-dark: #154E72;
    --bs-primary-rgb: 246, 101, 142;
    --bs-secondary-rgb: 227, 43, 77;
    --bs-success-rgb: 36, 183, 149;
    --bs-info-rgb: 95, 109, 191;
    --bs-warning-rgb: 255, 184, 71;
    --bs-danger-rgb: 246, 73, 40;
    --bs-light-rgb: 247, 248, 249;
    --bs-dark-rgb: 21, 78, 114;
    --bs-gray-800-rgb: 25, 26, 31;
    --bs-red-rgb: 227, 43, 77;
    --bs-gray-200-rgb: 240, 241, 243;
    --bs-gray-300-rgb: 223, 224, 229;
    --bs-gray-400-rgb: 208, 212, 217;
    --bs-white-rgb: 255, 255, 255;
    --bs-black-rgb: 0, 0, 0;
    --bs-body-color-rgb: 89, 93, 105;
    --bs-body-bg-rgb: 255, 255, 255;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --bs-body-font-family: Open Sans, sans-serif;
    --bs-body-font-size: 0.9375rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #595d69;
    --bs-body-bg: #fff;
    --bs-border-width: 1px;
    --bs-border-style: solid;
    --bs-border-color: #F6658E60 !important;
    --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
    --bs-border-radius: 0.25rem;
    --bs-border-radius-sm: 0.2rem;
    --bs-border-radius-lg: 0.7rem;
    --bs-border-radius-xl: 1rem;
    --bs-border-radius-2xl: 2rem;
    --bs-border-radius-pill: 50rem;
    --bs-link-color: #F6658E;
    --bs-link-hover-color: #c55172;
    --bs-code-color: #d63384;
    --bs-highlight-bg: #fff3cd;
    --bs-btn-color: #F6658E;
    --bs-table-color: #F6658E;
}
.website-title {
    font-size: 20pt;
    font-weight: 900;
    color: crimson;
    text-align: center;
    vertical-align: middle;
}
.website-title:before {
    content:"视频教程网站(DEMO)"
}
hr,select,input,option,div,h1,h2,h3,h4,h5,h6,h7,a,td,p {
    border-color: #F6658E60 !important;
    color:#F6658E ;
}
/* input {
    border: 1px solid #F6658E60 !important;
} */
.dropdown-divider {
    border-color: #F6658E60 !important;
}
.fa-search {
    color: #F6658E !important;
}
.bg-dark {
    background-color: #fef0f4 !important;
}
.switch {
    color: white !important;
}
.dropdown-item {
    border-color: #F6658E60 !important;
}
.border {
    border-color: #F6658E60 !important;
}
.border-bottom {
    border-color: #F6658E60 !important;
}
.table-dark {
    background-color: #F6658E60 !important;
}
.active > a {
    color: white !important;
}
.btn-primary-soft:hover {
    color: white!important;
}